@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&display=swap');

header {
    display: flex;
    align-items: center;
    background: rgba(0, 91, 193, 0.6);
}

.container__header {
    width: 50%;
    margin: 0 auto;
}

.logo-img {
    padding: 10px 30px;
}

.logo:hover {
    cursor: pointer;
}

nav ul {
    display: flex;
    align-items: center;
}

.nav-item {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    margin: 0px 13px;
}

.header__menu {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* main */
.wrapper {
    width: 100%;
    height: 800px;
    margin: 0 auto;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.wrap {
    position: relative;
}

.column {
    top: -200px;
    position: absolute;
    width: 444px;
    height: 718px;
    background: rgba(0, 91, 193, 0.6);
}

.main-content {
    position: relative;
    margin: 0 auto;
    margin-top: 200px;
    width: 635px;
    height: 317px;
}

.main-text-title {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 0.01em;
}

.main-text {
    margin: 40px 0;
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 22px;
}

.main-content__btn {
    border: 2px solid #FFFFFF;
    background: rgba(0, 0, 0, 0);
    padding: 15px 40px;
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.05em;
}

.main-content__btn:hover {
    border: 2px solid black;
    color: black;
    background-color: #FFFFFF;
}