.sliders {
    margin-top: 350px;
}

.title-slider {
    display: flex;
    align-items: center;
}

.wrap-slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new {
    height: 600px;
    padding: 110px 0px;
}

.blue__btn {
    border: 0px;
    padding: 15px 34px;
    border: 2px solid #005BC1;
    background-color: #005BC1;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #fff;
}

.blue__btn:hover {
    border: 2px solid black;
    color: black;
    background-color: #fff;
}

.first-block__new {
    width: 540px;
    height: 242px;
    display: flex;
    align-items: center;
}

.content__first-block {
    margin-left: 30px;
}

.title-new {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.text-new {
    margin: 21px 0px;
}

.img-one_new {
    width: 255px;
    height: 260px;
}

.new-content {
    display: flex;
    align-items: center;
    margin-top: 77px;
}

.further {
    color: #343434;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-decoration-line: underline;
}

.further:hover {
    font-weight: bold;
    color: black;
}

.second-block__new {
    margin: 0px 45px;
    width: 240px;
    height: 242px;
}

.third-block__new {
    width: 240px;
    height: 242px;
}

.wrap-img__slider {
    display: flex;
    align-items: flex-end;
}

.wrap-img__slider img {
    width: 128px;
    height: 117px;
}

.data-n {

    margin-left: 25px;
}


.catalog {
    margin-bottom: 150px;
}

.decor__image {
    margin-right: 40px;
}

.catalog__title {
    justify-content: start;
    width: 100%;
    margin-bottom: 70px;
}

.catalog__nav {
    width: 20%;
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.catalog__item {
    list-style: none;
}

.catalog__link {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
    transition: 0.5s;
}

.catalog__link:hover {
    border-bottom: 3px solid #005BC1;
    color: #005BC1;
}

.catalog__products {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.product {
    max-width: 350px;
    height: 300px;
    position: relative;
}

.product__img {
    width: 100%;
    object-fit: contain;
}

.product__desc {
    padding: 0px 25px;
    top: 199px;
    left: 82px;
    position: absolute;
    display: flex;
    align-items: center;
    width: 265px;
    height: 86px;
    background-color: #005BC1;
}

.product__text {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.rent {
    margin-bottom: 100px;
}

.rent__content {
    display: flex;
    align-items: center;
}

.rent__desc {
    width: 35%;
}

.rent__text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #343434;
}

.rent__equip {
    width: 65%;
    padding: 30px;
    border: 3px solid #005BC1;
    margin-left: 95px;
}

.rent__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rent-title {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
}

.equip__content {
    display: flex;
    margin-top: 30px;
}

.equip__wrapper {
    width: 255px;
}

.equip__img {
    object-fit: contain;
    width: 100%;
    margin-right: 30px;
}

.equip__title {
    margin-left: 10px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
}

.equip__list {
    margin-top: 30px;
    margin-left: 30px;
}

.equip__item {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #343434;
    margin-bottom: 20px;
}