@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.text {
    color: #FFFFFF;
}

.text-title {
    color: #FFFFFF;
}

.text-title-uppercase {
    color: #343434;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.btn:hover {
    cursor: pointer;
}

.title-slider {
    color: #343434;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

}

.text-slider {
    color: #343434;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
}

.data {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #979797;
}

img:hover {
    cursor: pointer;
}